<template name="footer_font">
	<div id="footer-font">
		<span style="font-family:'Abril Fatface'">iPhone</span><br>
		<span style="font-family:'Josefin Slab'">iPhone 5</span><br>
		<span style="font-family:'Arvo'">iPhone 4</span><br>
		<span style="font-family:'Cardo'">iPhone 5s</span><br>
		<span style="font-family:'Abril Fatface'">iPhone 4s</span><br>
		<span style="font-family:'Josefin Slab'">iPhone case</span><br>
		<span style="font-family:'Droid Sans'">Phone case</span><br>
		<span style="font-family:'Josefin Slab'">Custom case</span><br>
		<span style="font-family:'Lato'">Custom iPhone case</span><br>
		<span style="font-family:'Lobster'">Customized phone case</span><br>
		<span style="font-family:'Montserrat Alternates'">Customized iPhone case</span><br>
		<span style="font-family:'Open Sans'">Customized iPhone 5 case</span><br>
		<span style="font-family:'Oswald'">Create iPhone case</span><br>
		<span style="font-family:'PT Mono'">Create iPhone 5 case</span><br>
		<span style="font-family:'Ubuntu'">Customize iPhone case</span><br>
		<span style="font-family:'Varela'">Customize iPhone 5 case</span><br>
		<span style="font-family:'Vollkorn'">Make your own iPhone case</span><br>
	</div>
</template>