<template name="footer">
	<div id="insta-footer">
		<div class="row" id="insta-footer-buttons">
			<div class="col-xs-3" id="clipart-button">
				<span class="glyphicon glyphicon-picture"></span>
				Clipart
			</div>
			<div class="col-xs-3" id="text-button">
				<span class="glyphicon glyphicon-font"></span>
				Insert text
			</div>
			<div class="col-xs-3" id="case-button">
				<span class="glyphicon glyphicon-adjust"></span>
				Case color
			</div>
			<a href="preview_case">
			<div class="col-xs-3" id="preview-button">
				<span class="glyphicon glyphicon-search"></span>
				Preview
			</div>
			</a>
		</div>
		<div class=""
	</div>
</template>