/* Colors CSS */
	.theme1{
		color: #1B325F;
	}
	.theme2{
		color: #9CC4E4;
	}
	.theme3{
		color: #E9F2F9;
	}
	.theme4{
		color: #3A89C9;
	}
	.theme5{
		color: #F26C4F;
	}
	.flatgreen{
		color: #27ae60;
	}
	.flatred{
		color: #e74c3c;
	}
	.flatorange{
		color: #f39c12;
	}
	.flatblue{
		color: #2980b9;
	}
	.darkgray{
		color: #555;
	}
	.lightgray{
		color: #999;
	}
	.white-bkg{
		background-color: #fff;
	}
/* End Colors CSS */

/* Layouts CSS */
	body{
		background-color: #FAFBFC;
	}
	#phone-wrapper{
		background-image: url('images/iphone-div.png');
		background-repeat: no-repeat;
		background-position: center;
		height: 800px;
		background-size: contain;
		padding-top: 134px;
	}
	#phone-screen{
		height: 554px;
		border: 1px solid	#000;
		margin: auto;
		width: 324px;
		background-color: #333;
		color: #fff;
	}

	.insta-header{
		height: 70px;
		background-color: #333;
		border-bottom: 1px solid #DDD;
		opacity: 0.95;
		position: fixed;
		width: 100%;
		z-index: 10;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
		color: #fff;
		padding-top: 10px;
	}
	.insta-header h2{
		font-size: 42px;
		font-weight: 500;
	}
	.insta-header-right{
		float: right;
	}
	.fb-img{
		height: 50px;
		width: 50px;
		border-radius: 4px;
	}
/* End Layouts CSS */

/* StepOne CSS */
	.wrapper{
		margin-top: 80px;
	}
	.button-wrap{
		padding: 4px;
		border: 1px solid #FAFBFC;
		background-color: rgba(41, 128, 185, 0.8);
		border-radius: 24px;
		overflow:hidden;
		position: relative;
		width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
	.img-wrap{
		border: 1px solid #FAFBFC;
		background-color: rgba(41, 128, 185, 0.8);
		border-radius: 24px;
		height: 560px;
		overflow:hidden;
		position: relative;
		width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
	.top-button{
		height: 560px;
		width: 100%;
		border-radius: 20px;
		border: 1px solid #9CC4E4;
		font-size: 32px;
		color: #FAFBFC;
		padding: 150px 0px;
		background-color: #2980b9;
		opacity: 0.9;
	}
	.top-button:hover{
		color: #FAFBFC;
		background-color: #2980b9;
		opacity: 0.8;
	}
	.icon-large{
		font-size: 72px;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;

	}
/* End StepOne CSS */

/* StepTwo CSS */
	.order-image{
		
	}

/* End StepTwo CSS */