<form action="storefront" method="post">
    <!-- TODO: AJAX post validation -->
    <input type="hidden" name="_csrf", value="{{csrf_token}}" />
    <input type="text" name="name" placeholder="Name of Store" value="{{name}}" /><br />
    <input type="text" name="short_name" placeholder="name-of-store" value="{{short_name}}" />.battletrophy.com
    <input type="submit" />
</form>
