<template name="footer">
	<div id="insta-footer">
		<div class="row" id="insta-footer-buttons">
			<div class="col-xs-3">
				<span class="glyphicon glyphicon-picture"></span>
				Clipart
			</div>
			<div class="col-xs-3">
				<span class="glyphicon glyphicon-font"></span>
				Insert text
			</div>
			<div class="col-xs-3">
				<span class="glyphicon glyphicon-adjust"></span>
				Case color
			</div>
			<div class="col-xs-3">
				<span class="glyphicon glyphicon-search"></span>
				Preview
			</div>
	</div>
</template>