<template name="footer_preview">
	<div id="insta-footer">
		<div class="row" id="insta-footer-buttons">
			<a href="customize_case">
				<div class="col-xs-3" id="back-button">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Back
				</div>
			</a>
			<div class="col-xs-6">
				<div id="order-count">
					<select>
						<option>Select number of cases to order</option>
						<option selected>1 case</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
					</select>
				</div>
			</div>
			<a href="preview_case">
			<div class="col-xs-3" id="add-to-cart-button">
				<span class="glyphicon-plus"></span>
				<span class="glyphicon glyphicon-shopping-cart"></span>
				Add to cart
			</div>
			</a>
	</div>
</template>