<h1>Create yo shiz here, dawg</h1>

<div id="fabric-container">
  <canvas id="fabric"></canvas>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
<script src="/js/caseEditor.js"></script>
