@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(/font/X1g_KwGeBV3ajZIXQ9VnDokaQb-UsZVONjobs91YQtw.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(/font/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(/font/c6Zi_ulq7hv-avk-G9Yut6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(/font/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(/font/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(/font/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/font/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/font/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/font/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(/font/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratAlternates-Regular'), url(/font/montserratalternates/v2/z2n1Sjxk9souK3HCtdHukkgzB8lONmAFCo-7kcqDvBSglnMp3_3A8V8Ai8YosRtX.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: local('MontserratAlternates-Bold'), url(/font/YENqOGAVzwIHjYNjmKuAZgHIHA8NZDzxmj0AXZzWWdh2IY20qb3OO3nusUf_NB58.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/font/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/font/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/font/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(/font/maB5vWJo0EAVzvHPjBkLM-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(/font/BCFBp4rt5gxxFrX6F12DKnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


/* Overall Stuff */

a:hover{
	text-decoration: none;
}

/* Interesting Utilities */
	.thin-font{
		font-weight: 200;
	}
	.thin-padding{
		padding-left: 1px;
		padding-right: 1px;
	}
	.large-button{
		font-size: 24px;
		padding: 10px;
		margin-bottom: 10px;
		font-weight: 500;
	}
	.btn-primary{
		background-color: #2980b9;
	}
	.btn-default{
		background-color: #FAFBFC;
	}
	.chosen{
		background-color: #777 !important;
		color: #fff !important;
	}
	.chosen:hover{
		background-color: #777;
		color: #fff;
	}
	.white-label{
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		padding-top: 4px;
	}

	/* Colors CSS */
		.theme1{
			color: #1B325F;
		}
		.theme2{
			color: #9CC4E4;
		}
		.theme3{
			color: #E9F2F9;
		}
		.theme4{
			color: #3A89C9;
		}
		.theme5{
			color: #F26C4F;
		}
		.flatgreen{
			color: #27ae60;
		}
		.flatred{
			color: #e74c3c;
		}
		.flatorange{
			color: #f39c12;
		}
		.flatblue{
			color: #2980b9;
		}
		.darkgray{
			color: #555;
		}
		.lightgray{
			color: #999;
		}
		.white-bkg{
			background-color: #fff;
		}
	/* End Colors CSS */
/* End Interesting Utilities */




#insta-wrap{
	min-height: 100%;
	padding-top: 60px;
}
.instacase-brand img{
	height: 36px;
	margin-right: 4px;
}
.navbar-toggle{
	margin-top: 8px;
	margin-bottom: 0px;
}
@media (min-width: 768px){
	.instacase-brand img{
		height: 50px;
		margin-right: 10px;
		margin-bottom: 4px;
	}


}
#instacase-header{
	background-color: #FAFBFC;
	border-bottom: 2px solid #777;
	border-radius: 0;
	height: 60px;
	padding: 4px;
	margin-bottom: 0;
	top: 0px;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.instacase-brand{
	font-size: 36px;
	font-family: "Lobster";
	font-weight: 700;
	color: #f39c12;
	-webkit-text-stroke-width: 0.02em;
   -webkit-text-stroke-color: #f39c12;
}
.instacase-brand:hover{
	color: #e67e22
}
.select-model img{
	height: 140px;
	display: inline;
}
.select-model{
	margin: auto;
	display: block;
	border: 2px solid #ccc;
	padding: 3px;
	margin: 3px;
	font-size: 24px;
}
@media (min-width: 768px){
	.select-model {
		margin-top: 40px;
	}
	.select-model img{
		height: 250px;
	}
}
.disabled{
	color: #555 !important;
}

/* Home */
	#home-collage{
		position: relative;
	}
	#home-collage img{
		width: 49.5%;
		display: inline;
		margin-bottom: 3px;
	}
	@media (min-width: 1000px){
		#home-collage img{
			width: 24.5%;
		}
	}
	@media (min-width: 768px) and (max-width: 1000px){
		#home-collage img{
			width: 32.5%;
		}
	}
	#home-buttons{
		margin-top: 40px;
	}
	#home-buttons .btn{
		box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
		max-width: 400px;
		margin: auto;
	}
	#home-buttons a .btn{
		margin-bottom: 10px;
	}
	.overlay{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		opacity: 0.6;
		background-color: #000;

	}
	.message-overlay{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		color: #fff;
		text-align: center;
		padding-top: 80px;
	}

/* Choose Phone */
	
	@media (min-width: 768px){
		.insta-title{
			padding: 20px;
			font-size: 38px;
		}
	}

/* Select Image */
	#canvas-container{
		width: 100%;
		min-height: 484px;
		border: 1px dashed #fff;
		position: relative;
	}
	.control-icon{
		position: relative;
		font-size: 24px;
		width: 40px;
		height: 40px;
		background-color: #222;
		opacity: 0.9;
		text-align: center;
		border-radius: 6px;
		color: #fff;	
		display: block;
		margin-bottom: 10px;
	}
	.control-icon .glyphicon{
		padding-top: 6px;
		display: inline-block;
	}
	.control-icon:hover{
		opacity: 1;
		cursor: pointer;
	}
	.control-icon.inactive{
		opacity: 0.3;
		color: #111 !important;
	}
	.control-icon.inactive:hover{
		opacity: 0.3;
		background-color: #eee;
		cursor: not-allowed;
		color: #111 !important;
	}
	.control-icon .control-label{
		font-weight: 300;
		color: #fff;
		font-size: 18px;
		padding-left: 10px;
		position: absolute;
		top: 8px;
		left: 40px;
	}
	#font-align button{
		padding-left: 10px;
		padding-right: 10px;
	}
	#options-box{
		position: absolute;
		top: 0;
		left: 0;
	}
	#object-box{
		position: absolute;;
		top: 0;
		left: 0;
		border: 1px solid #000;
		pointer-events:none;
	}
	#font-box .row, #image-box .row{
		margin-bottom: 10px;
	}
	#font-box #font-textarea{
		height: 80px;
		font-size: 24px;
	}
	#clipart-box{
		overflow-y: auto;
	}
	#clipart-box img{
		width: 32%;
		opacity: 1;
		border: 1px solid black;
		background-color: #FAFBFC;
		padding: 2px;
		margin-bottom: 2px;
	}
	#clipart-box i{
		font-size: 90px;
		color: #fff;
	}
	.command-box{
		position: absolute;
		height: inherit;
		background-color: #222;
		width: 100%;
		padding: 20px;
	}
	.command-box h2{
		color: #ecf0f1;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.command-box label{
		color: #ddd;
	}
	.command-box .btn-primary{
		box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
		margin-top: 20px;
	}
	#order-box .checkbox{
		color: #fff;
	}
	#font-box{
		height: 540px;
		width: 300px;
	}
	#image-box{
		width: 300px;
	}
	#image-box{
		color: #777;
	}
	#clipart-box{
		height: 600px;
	}
	#order-box{
		height: 320px;
		width: 300px;
		padding: 20px;
	}
	#order-box input{
		margin-bottom: 14px;
	}
	#background-box{
		height: 400px;
		width: 300px;
	}
	.command-box{
		top: 10px;
		width: 400px;
		right: 10px;
		border-radius: 5px;
		border: 1px solid #222;
	}
	#order-box h2{
		display: block;
	}
	#order-total{
		color: #2980b9;
		font-weight: 500;
	}
	#total-row{
		padding-top: 20px;
	}
	.object-icon{
		position: relative;
		text-align: center;
		color: #fff;
		height: 20px;
		width: 20px;
		background-color: #000;
		font-size: 14px;
		opacity: 0.9;
		border-radius: 4px;
		margin: 2px;
	}
	.object-icon .glyphicon{
		margin: 0px;
	}
	.resize-icon{
		position: absolute;
		border: 1px solid #000;
		font-size: 10px;
		height: 14px;
		width: 14px;
		text-align: center;
		background-color: #000;
		color: #fff;
	}
	.resize-icon .glyphicon{
		top: 0;
	}
	#resize-TL-icon{
		top:-10px;
		left:-8px;
		transform: scaleX(-1);
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
	}
	#resize-TR-icon{
		top:-10px;
		right:-8px;
	}
	#resize-BL-icon{
		bottom:-10px;
		left:-8px;
		transform: scaleX(-1);
	}
	#resize-BR-icon{
		bottom:-10px;
		right:-8px;
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
	}
	#rotate-icon{
		left:50%;
    margin-left:-7px;
		top: -50px;
		transform: scaleX(-1);
		border-radius: 50%;
	}
	#control-box{
		padding: 5px 5px 0px 5px;
		position: absolute;
		top: 20px;
		left: 5px;
		border: 1px solid #aaa;
		border-radius: 5px;
		background-color: #eee;
	}
	.control-icon{
		width: 200px;
		text-align: left;
		padding-left: 10px;
	}
	#control-box{
		padding: 10px 10px 0px 10px;
		position: absolute;
		top: 10px;
		left: 10px;
		border: 1px solid #aaa;
		border-radius: 5px;
		background-color: #eee;
	}
	#case-absolute{
		left: 50%;
		position: absolute;
		top: 10px;
	}
	#outside-border{
		width: 250px;
		height: 460px;
		border: 1px solid #e74c3c;
		border-radius: 40px;
		position: absolute;
		top: 20px;
		left: 25%;
		pointer-events:none;
		-moz-box-shadow: 0px 0px 0px 10000px rgba(50,50,50, 0.4);
	  -webkit-box-shadow: 0px 0px 0px 10000px rgba(50,50,50, 0.4);
	  box-shadow: 0px 0px 0px 10000px rgba(50,50,50, 0.4);
	}
	#inside-border{
		width: 210px;
		height: 420px;
		border: 1px solid #c0392b;
		border-radius: 20px;
		position: absolute;
		top: 40px;
		left: 25%;
		pointer-events:none;
		-moz-box-shadow: 0px 0px 0px 10000px rgba(50,50,50, 0.1);
	  -webkit-box-shadow: 0px 0px 0px 10000px rgba(50,50,50, 0.1);
	  box-shadow: 0px 0px 0px 10000px rgba(50,50,50, 0.1);
	}
	#camera-border{
		width: 72px;
		height: 30px;
		border: 1px solid #c0392b;
		border-radius: 15px;
		position: absolute;
		top: 54px;
		left: 25%;
		pointer-events:none;
		background-color: rgba(0,0,0,0.5)
	}
	#outside-edge{
		width: 250px;
		height: 460px;
		border: 20px solid white;
		border-radius: 40px;
		position: absolute;
		top: 20px;
		left: 25%;
		pointer-events:none;
	}
	.close-button{
		color: #fff;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.close-button:hover{
		color: #e74c3c;
		cursor: pointer;
	}

/* Image Filters */
	#filter-box button{
		width: 100%;
		height: 50px;
		font-size: 12px;
		text-align: center;
		border-width: 1px;
		border-radius: 4px;
	}
  #filter-box button.filter-enabled{
    color: #f00;
  }
	#filter-box .col-xs-4{
		padding-left: 5px;
		padding-right: 5px;
	}
	#filter-Grayscale{
		background-color: #ddd;
		color: #22;
		font-weight: 900;
	}
	#filter-Sepia2{
		background-color: #f39c12;
		color: #704214 ;
		font-weight: 900;
	}
	#filter-Sepia{
		background-color: #3498db;
		color: #34495e;
		font-weight: 900;
	}
	#filter-blur{
		color: transparent;
		font-style: italic;
   	text-shadow: 0 0 1px rgba(0,0,0,0.9);
	}
	#filter-sharpen{
		font-weight: 200;
	}
	#filter-emboss{
		text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
		color: #222;
		opacity: 0.6;
	}
	.filter-active{
		border: 2px solid #3498db;
	}
/* End Image Filters */

/* Header */
	#instacase-collapse .navbar-nav{
		margin-left: 20px;
	}
	.navbar-nav li.active a{
		background-color: transparent !important;
		border-top: 3px solid #3498db;
	}
	.navbar-nav li a:hover{
		background-color: transparent !important;
		border-top: 3px solid #3498db;
	}

	.navbar-nav li a{
		border-top: 3px solid #FAFBFc;
		padding-left: 4px;
		padding-right: 4px;
		margin: -4px 6px 0px 6px;
	}

/* Layouts CSS */
	body{
		background-color: #FFF;
	}
	#phone-wrapper{
		background-image: url('images/iphone-div.png');
		background-repeat: no-repeat;
		background-position: center;
		height: 800px;
		background-size: contain;
		padding-top: 134px;
	}
	#phone-screen{
		height: 554px;
		border: 1px solid	#000;
		margin: auto;
		width: 324px;
		background: -webkit-linear-gradient(rgba(44, 62, 80,1.0), rgba(44, 62, 80,0.8)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(rgba(44, 62, 80,1.0), rgba(44, 62, 80,0.8)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(44, 62, 80,1.0), rgba(44, 62, 80,0.8)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(44, 62, 80,1.0), rgba(44, 62, 80,0.8)); /* Standard syntax */
		color: #fff;
		position: relative;
	}

	.insta-header{
		height: 70px;
		background-color: #333;
		border-bottom: 1px solid #DDD;
		opacity: 0.95;
		position: fixed;
		width: 100%;
		z-index: 10;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
		color: #000;
		padding-top: 10px;
	}
	.insta-header h2{
		font-size: 42px;
		font-weight: 500;
	}
	.insta-header-right{
		float: right;
	}
	.fb-img{
		height: 50px;
		width: 50px;
		border-radius: 4px;
	}
	#insta-footer{
		position: fixed;
		background-color: #111;
		width: 100%;
		height: 72px;
		color: #FAFBFC;
		border-top: 1px solid #222;
	}
	#insta-footer.non-stick{
		position: relative;
	}
	#insta-footer.expanded{
		height: 500px;
	}
	#insta-footer-buttons{
		margin-left: 0px;
		margin-right: 0px;
	}
	#insta-footer-buttons .col-xs-3, #insta-footer-buttons .col-xs-6{
		height: 72px;
		padding-left: 3px;
		padding-right: 3px;
		font-size: 12px;
		text-align: center;
		position: relative;
		background-color: #222;
	}
	#insta-footer-buttons .col-xs-3 .glyphicon{
		font-size: 28px;
		display: block;
		padding: 10px;
	}
	#insta-footer-buttons .col-xs-3.selected{
		background-color: #333;
	}
	@media (min-width: 768px){
		#insta-footer{
			position: absolute !important;
			bottom: 0px;
		}
	}
	#footer-company{
		padding-top: 10px;
		text-align: center;
		font-weight: 300;
		color: #777;
	}
	#footer-company{
		padding-top: 10px;
		text-align: center;
		font-weight: 300;
		color: #777;
	}
	#footer-company a{
		color: #777;
	}
	#footer-company a:hover{
		color: #aaa;
	}
	#footer-font{
		position: absolute;
		top: 0;
		z-index: -1000;
		opacity: 0;
	}
	.twitter-share-button{
		margin-top: -7px;
	}
	#add-to-cart-button .glyphicon-plus{
		font-size: 18px;
		font-weight: 700;
		position: absolute;
		left: 15px;
		top: 10px;
	}
	#place-order-button{
		margin-top: 10px;
	}
	#place-order-button button{
		height: 50px;
		font-size: 20px;
	}
	#insta-footer-buttons .col-xs-3:hover{
		background-color: #333;
		cursor: pointer;
	}
	#insta-footer-buttons #back-button{
		color: #fff;
	}
	#preview-button{
		color: #16a085;
	}
/* End Layouts CSS */

/* Welcome Page CSS */
	
	#welcome-title{
		margin: auto;
		margin-top: 20px;
	}
	#welcome-title img{
		height: 60px;
		width: 60px;
	}
	#welcome-logo{
		color: #fff;
		font-weight: 700;
		font-family: 'Montserrat Alternates', 'Allan', 'Arial';
		font-size: 40px;
		text-shadow:0px 0px 0 rgb(-48,-27,-6), 1px 1px 0 rgb(-120,-99,-78),2px 2px 1px rgba(70,70,70,0.8),2px 2px 1px rgba(70,70,70,0.4),0px 0px 1px rgba(70,70,70,.2);
		position: inline;
	}
	#welcome-buttons{
		padding: 30px 20px;
		margin: auto;
	}
	#welcome-buttons .col-md-12{
		margin-top: 10px;
		text-align: center;
	}
	#welcome-buttons #login-buttons, .login-buttons-with-only-one-button, .login-text-and-button, .login-button.single-login-button {
		font-size: 18px;
		width: 100% !important;
		height: 36px;
		border-radius: 6px;
	}
	#welcome-samples{
		height: 260px;
		padding-top: 20px;
		margin: auto;
	}
	#welcome-samples img{
		margin: auto;
		width: 100%
	}
	.login-image{
		height: 24px !important;
		width: 24px !important;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.sign-in-text-facebook{
		padding: 10px 12px !important;
	}
	.login-button.single-login-button{
		padding-top: 10px;
	}
	#regular-signin{
	}
	.CTA-button {
		-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
		-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
		box-shadow:inset 0px 1px 0px 0px #97c4fe;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
		background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
		background-color:#3d94f6;
		-webkit-border-top-left-radius:2px;
		-moz-border-radius-topleft:2px;
		border-top-left-radius:2px;
		-webkit-border-top-right-radius:2px;
		-moz-border-radius-topright:2px;
		border-top-right-radius:2px;
		-webkit-border-bottom-right-radius:2px;
		-moz-border-radius-bottomright:2px;
		border-bottom-right-radius:2px;
		-webkit-border-bottom-left-radius:2px;
		-moz-border-radius-bottomleft:2px;
		border-bottom-left-radius:2px;
		text-indent:0;
		border:1px solid #337fed;
		display:inline-block;
		color:#ffffff;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #1570cd;
	}
	.CTA-button:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
		background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
		background-color:#1e62d0;
	}
	.CTA-button:active {
		position:relative;
		top:1px;
	}
	#use-as-guest{
		color: #ddd;
		font-weight: 100;
	}
	#use-as-guest:hover{
		color: rgba(52, 152, 219,1.0);
		text-decoration: none;
	}
/* End Welcome Page CSS */

/* StepOne CSS */
	.wrapper{
		margin-top: 80px;
	}
	.button-wrap{
		padding: 4px;
		margin-top: 5px;
		border: 1px solid #FFF;
		border-radius: 46px;
		overflow:hidden;
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.button-wrap-filled{
		padding: 4px;
		margin-top: 5px;
		border: 1px solid #111;
		border-radius: 46px;
		overflow:hidden;
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.black-case{
		background-color: #000;
		border: 1px solid #111;
	}
	.white-case{
		background-color: #fff;
		border: 1px solid #fff;
	}
	.img-wrap{
		border: 1px solid #FAFBFC;
		border-radius: 46px;
		height: 460px;
		overflow:hidden;
		position: relative;
		width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
	.top-button{
		height: 460px;
		width: 100%;
		border-radius: 42px;
		border: 1px solid #9CC4E4;
		font-size: 24px;
		color: #FFF;
		padding: 120px 0px;
		opacity: 0.8;
		background-color: transparent;
	}
	.top-button:hover{
		color: #FAFBFC;
		opacity: 1;
		background-color: transparent;
	}
	.top-button-filled{
		height: 460px;
		width: 100%;
		border-radius: 42px;
		border: 1px solid #9CC4E4;
		font-size: 24px;
		color: #FFF;
		padding: 120px 0px;
		opacity: 1;
		background-color: transparent;
		background-image: url('images/photo-sample.jpg');;
		background-position: 30%;
	}
	.icon-large{
		font-size: 72px;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#sample-text{
		margin-top: 200px;
		font-size: 34px;
		background-color: #333;
		opacity: 0.8;
	}
	#sample-icon{
		font-size: 24;
		color: #e74c3c;
		background-color: #333;
		opacity: 0.8;
	}
/* End StepOne CSS */

/* StepTwo CSS */
	#preview-render{
		margin-top: 40px;
		width: 100%;
	}
	#preview-render img{
		display:block;
    margin:auto;
    height: 400px;
	}
	.order-button {
		-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
		-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
		box-shadow:inset 0px 1px 0px 0px #caefab;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
		background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
		background-color:#77d42a;
		-webkit-border-top-left-radius:6px;
		-moz-border-radius-topleft:6px;
		border-top-left-radius:6px;
		-webkit-border-top-right-radius:6px;
		-moz-border-radius-topright:6px;
		border-top-right-radius:6px;
		-webkit-border-bottom-right-radius:6px;
		-moz-border-radius-bottomright:6px;
		border-bottom-right-radius:6px;
		-webkit-border-bottom-left-radius:6px;
		-moz-border-radius-bottomleft:6px;
		border-bottom-left-radius:6px;
		text-indent:0;
		border:1px solid #268a16;
		display:inline-block;
		color:#306108;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:50px;
		line-height:50px;
		width:100%;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #aade7c;
	}
	.order-button:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
		background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
		background-color:#5cb811;
		cursor: pointer;
	}
	.order-button:active {
		position:relative;
		top:1px;
	}
	#order-count{
		width: 100%;
		font-size: 20px;
		margin-top: 10px;
	}
	#order-count select{
		width: 100%;
		float: right;
		height: 40px;
		text-align: center;
		color: #000;
		border-radius: 0px !important;

	}
	#order-count select option{
		text-align: center;
		color: #000;
	}
/* End StepTwo CSS */

/* StepThree CSS */
	#pay-with-card form{
		
	}
/* End StepThree CSS */
@media (min-width: 769px){
	.hidden-on-web{
		display: none;
	}
}
@media (max-width: 768px){
	.hidden-on-mobile{
		display: none;
	}
}
