<template name="home">
	<div id="home-collage">
		<img src="/images/custom1.jpg">
		<img src="/images/custom2.jpg">
		<img src="/images/custom8.jpg">
		<img src="/images/custom4.jpg">
		<img src="/images/custom5.jpg">
		<img src="/images/custom6.jpg">
		<img src="/images/custom9.jpg">
		<img src="/images/custom3.jpg">
		<img src="/images/custom7.jpg">
		<img src="/images/custom10.jpg">
		<img src="/images/custom8.jpg">
		<img src="/images/custom4.jpg">
		<img src="/images/custom5.jpg">
		<img src="/images/custom6.jpg">
		<img src="/images/custom7.jpg">
		<img src="/images/custom3.jpg">
		<div class="overlay"></div>
		<div class="message-overlay">
			<div class="container">
				<h1 class="thin-font">Custom iPhone 5/5s cases for <span style="color:#f1c40f">$10</span></h1>
				<div class="row" id="home-buttons">
					<div class="col-md-12">
						<a href="/choose">
							<div class="btn btn-block large-button btn-primary">
								Create your own!
							</div>
						</a>
						<div class="btn btn-block large-button btn-default">
							See popular cases
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</template>