<template name="select_image">
	
	<div class="container-fluid thin-padding" id="all-select">
		<div id="canvas-container">
			<canvas id="insta-canvas"></canvas>
			<div class="hidden" id="outside-edge">
			</div>
			<div class="" id="outside-border">
			</div>
			<div class="" id="inside-border">
			</div>
			<div class="" id="camera-border">
			</div>


			<div id="control-box">
				<div class="control-icon" id="upload-icon">
					<span class="glyphicon glyphicon-upload"></span>
					<div class="hidden-on-mobile control-label">Upload Image</div>
				</div>
				<div class="control-icon" id="text-icon">
					<span class="glyphicon glyphicon-font"></span>
					<div class="hidden-on-mobile control-label">Add Text</div>
				</div>
				<div class="control-icon" id="clipart-icon">
					<span class="glyphicon glyphicon-heart-empty"></span>
					<div class="hidden-on-mobile control-label">Add Clipart</div>
				</div>
				<div class="control-icon" id="background-icon">
					<span class="glyphicon glyphicon-adjust"></span>
					<div class="hidden-on-mobile control-label">Background Color</div>
				</div>
				<div class="control-icon" id="cart-icon">
					<span class="glyphicon glyphicon-shopping-cart"></span>
					<div class="hidden-on-mobile control-label">Checkout</div>
				</div>
			</div>

			<div class="hidden" id="options-box">
				<div class="object-icon" id="text-remove-icon">
					<span class="glyphicon glyphicon-remove"></span>
				</div>
				<div class="hidden object-icon" id="move-up-icon">
					<span class="glyphicon glyphicon-arrow-up"></span>
				</div>
				<div class="hidden object-icon" id="move-down-icon">
					<span class="glyphicon glyphicon-arrow-down"></span>
				</div>
			</div>
			<div class="hidden" id="object-box">
				<div class="resize-icon" id="resize-TL-icon">
					<span class="glyphicon glyphicon-resize-full"></span>
				</div>
				<div class="resize-icon" id="resize-TR-icon">
					<span class="glyphicon glyphicon-resize-full"></span>
				</div>
				<div class="resize-icon" id="resize-BL-icon">
					<span class="glyphicon glyphicon-resize-full"></span>
				</div>
				<div class="resize-icon" id="resize-BR-icon">
					<span class="glyphicon glyphicon-resize-full"></span>
				</div>
				<div class="resize-icon" id="rotate-icon">
					<span class="glyphicon glyphicon-repeat"></span>
				</div>
			</div>

			<div class="command-box hidden-on-mobile" id="order-box">
				<!--form role="form"-->
					<div class="row">
						<div class="col-xs-12"><h2>Current Order</h2></div>
					</div>
					<div class="row form-area" id="order-area">
						<div class="col-xs-4 hidden-on-mobile">
					  	<label for="order-quantity" class="hidden-on-mobile">Quantity</label>
					  	<label for="order-quantity" class="hidden-on-web">#</label>
					  </div>
					  <div class="col-sm-8">
					   	<input type="text" class="form-control" id="order-quantity" placeholder="1" value="1">
					  </div>
				    <div class="col-xs-4 hidden-on-mobile">
					    <label for="order-color">Case</label>
					  </div>
					  <div class="col-sm-8">
					    <select class="selectpicker show-tick form-control">
						    <option value="#fff" style="color: #FFF; background-color:#111;">White</option>
						    <option value="#000">Black</option>
						    <option value="#e74c3c" style="color: #e74c3c;">Red</option>
						    <option value="#2980b9" style="color: #2980b9;">Blue</option>
						    <option value="#f39c12" style="color: #f39c12;">Orange</option>
						    <option value="#27ae60" style="color: #27ae60;">Green</option>
						    <option value="#eee" style="opacity: 0.8;">Transparent</option>
						  </select>
					  </div>
					  <div class="col-xs-8 col-sm-offset-4">
						  <div class="checkbox">
						    <input type="checkbox" id="order-edges"><span class="order-label">Don't print on edges</span>
						  </div>
						</div>
					  <div class="col-xs-4 hidden-on-mobile">
					    <label for="order-color">Total</label>
					  </div>
					  <div class="col-sm-8" id="order-total">
					    $<span id="order-value">10</span> + Shipping
					  </div>
					</div>
					<div class="col-xs-12">
					   <button class="btn btn-primary btn-block btn-lg" id="order-checkout"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</button>
					</div>
				<!--/form-->
			</div>

			<div class="hidden command-box" id="clipart-box">
				<div class="close-button">
					<span class="glyphicon glyphicon-remove"></span>
				</div>
				<div class="row">
					<div class="col-xs-12"><h2>Select clipart</h2></div>
				</div>
				<div class="row form-area">
					<img src="/clipart/icon_1108.png">
					<img src="/clipart/icon_1642.png">
					<img src="/clipart/icon_3708.png">
					<img src="/clipart/icon_4895.png">
					<img src="/clipart/icon_8124.png">
					<img src="/clipart/icon_19462.png">
					<img src="/clipart/icon_30130.png">
					<img src="/clipart/icon_35195.png">
					<img src="/clipart/icon_35490.png">
				</div>
			</div>

			<div class="command-box hidden" id="background-box">
				<div class="close-button">
					<span class="glyphicon glyphicon-remove"></span>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h2>Background color</h2>
					</div>
					<div class="col-xs-12">
						<input id='bkg-colorpicker' />
					</div>
				</div>
			</div>

			<div class="hidden command-box hidden-on-mobile" id="image-box">
				<div class="close-button">
					<span class="glyphicon glyphicon-remove"></span>
				</div>
				<div class="row">
					<div class="col-xs-12"><h2>Adjust image</h2></div>
				</div>
				<div class="row form-area">
					<div class="col-xs-12">
						<div class="panel panel-info" id="filter-box">
							<div class="panel-heading">
						    <h3 class="panel-title">Filters</h3>
						  </div>
						  <div class="panel-body">
						  	<div class="row">
						  		<div class="col-xs-4">
								    <button id="filter-Grayscale">Gray<span style="color:#555;">scale</span></button>
								  </div>
								  <div class="col-xs-4">
										<button id="filter-Sepia2">Sepia</button>
									</div>
									<div class="col-xs-4">
										<button id="filter-Sepia">Cool</button>
									</div>
								</div>
								<div class="row hidden">
									<div class="col-xs-4">
								    <button id="filter-Blur">Blur</button>
								  </div>
								  <div class="col-xs-4">
										<button id="filter-Sharpen">Sharpen</button>
									</div>
									<div class="col-xs-4">
										<button id="filter-Emboss">Emboss</button>
									</div>
								</div>
						  </div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<input type="checkbox" id="filter-tint-color">
								<span class="white-label">Adjust image color </span> 
								<input type="color" class="pull-right" id="filter-tint-color-intensity">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								Intensity:
							</div>
							<div class="col-xs-8">
								<input type="range" name="points" min="0" max="1" value="0.4" step="0.1" id="filter-tint-color-opacity">
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<input type="checkbox" id="filter-brighten">
								<span class="white-label">Brighten </span> 
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								Intensity:
							</div>
							<div class="col-xs-8">
								<input type="range" name="points" min="0" max="255" value="100" id="filter-brighten-intensity">
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<input type="checkbox" id="filter-pixelate">
								<span class="white-label">Pixelate </span> 
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								Strength:
							</div>
							<div class="col-xs-8">
								<input type="range" name="points" min="2" max="20" value="4" id="filter-pixelate-intensity">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="hidden command-box hidden-on-mobile" id="font-box">
				<div class="close-button">
					<span class="glyphicon glyphicon-remove"></span>
				</div>
				<div class="row">
					<div class="col-xs-12"><h2>Edit text</h2></div>
				</div>
				<div class="row form-area">
					<div class="col-xs-12">
						<div class="row">

							<div class="col-xs-12">
								<textarea rows="2" class="form-control" id="font-textarea" placeholder="Your Text"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">

								<!--TODO - put in custom selector showing font family before selection-->
								<select id="font-selector" class="form-control">
									<option>Select a font</option>
									<option>Abril Fatface</option>
									<option>Arvo</option>
									<option>Cardo</option>
									<option>Courier New</option>
									<option>Droid Sans</option>							
									<option>Helvetica</option>
									<option>Josefin Slab</option>
									<option>Lato</option>
									<option>Lobster</option>
									<option>Montserrat Alternates</option>
									<option>Open Sans</option>
									<option>Oswald</option>
									<option>PT Mono</option>
									<option>Times New Roman</option>
									<option>Ubuntu</option>
									<option>Varela</option>
									<option>Vollkorn</option>
									<option>Wingdings</option>
								</select>
							</div>
						

							<div class="col-xs-6" id="font-align"> 
								<div class="btn-group pull-right">
								  <button type="button" class="btn btn-default" id="align-left"><span class="glyphicon glyphicon-align-left"></span></button>
								  <button type="button" class="btn btn-default" id="align-center"><span class="glyphicon glyphicon-align-center"></span></button>
								  <button type="button" class="btn btn-default" id="align-right"><span class="glyphicon glyphicon-align-right"></span></button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<input id='colorpicker' />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<input type='file' name="files[]" class="hidden" id="image-input" multiple/>
	</div>
	{{>footer_font}}
</template>
