<template name="home">
		<div class="row" id="welcome-title">
			<div class="col-md-12">
				<img src="/images/instacase_small.png">
				<span id="welcome-logo">
					InstaCase
				</span>
			</div>
		</div>
		<div class="row" id="welcome-samples">
			<div class="col-md-12">
				<div id="sample-placeholder">
					<img src="/images/case-sample.png">
				</div>
			</div>
		</div>
		<div class="row" id="welcome-buttons">
			<div class="col-md-12">
				{{loginButtons}}
			</div>
			<div class="col-md-12">
				<button class="btn btn-block CTA-button" id="regular-signin">Sign in</button>
			</div>
			<div class="col-md-12">
				Use as guest
			</div>

		</div>
</template>