<head>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<link rel="apple-touch-icon" href="/img/iOS-icon.png" />
	<script src="/touchswipe/jquery.touchSwipe.js"></script>
	<title>InstaCase</title>
</head>
<body>
	<div class="container">
        <div id="phone-wrapper">
        	<div id="phone-screen">
        		<center><h2>Sample</h2></center>
        	</div>
        </div>
    </div>
</body>